# Data Wrangling

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
kashti = sns.load_dataset('titanic')
ks1 = kashti
ks2 = kashti

In [3]:
kashti.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
#simple operations (Math operator)
(kashti['age']+12).head(10)

0    34.0
1    50.0
2    38.0
3    47.0
4    47.0
5     NaN
6    66.0
7    14.0
8    39.0
9    26.0
Name: age, dtype: float64

# Dealing wiht missing values
    1- In a data set missing values are either ? or N/A or NaN, or 0 or a blank cell.
    2- Jab kabhi data na ho kisi aik row main kisi b aik parameter ka

#### Steps:

    1.koshish karen dobara data collect kar len ya dekh len agar kahin ghalti hy
    2. Missing value wala variable (column) hi nikal den agar data per effect nahi hta ya simple row and data entry remove kar den
    3. Replace the missing values
        1.How?
            1. Average value of entire variable or similar data point
            2. frequency or MODE replacement
            3. Replace based on other functions (Data sampler knows that)
            4. ML algorithm can also be used
            5. Leave it like that
        2. Why?
            1. Its better because no data is lost
            2. less accurate

In [5]:
# where exactly missing values are?
kashti.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
# use drop.na method
kashti.dropna(subset=['deck'],axis=0, inplace=True)# this will remove specifically missing values
# inplace= true modifies the data frame

In [7]:
kashti.isnull().sum() # find again null value

survived        0
pclass          0
sex             0
age            19
sibsp           0
parch           0
fare            0
embarked        2
class           0
who             0
adult_male      0
deck            0
embark_town     2
alive           0
alone           0
dtype: int64

In [8]:
# to drop na
kashti = kashti.dropna()
# to update the main dataframe
kashti = kashti.dropna().isnull().sum() # remove na from whole dataframe

In [9]:
kashti

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [10]:
kashti.shape

(15,)

In [11]:
ks1.isnull().sum()

survived        0
pclass          0
sex             0
age            19
sibsp           0
parch           0
fare            0
embarked        2
class           0
who             0
adult_male      0
deck            0
embark_town     2
alive           0
alone           0
dtype: int64

# Replacing missing values with the average of that column

In [12]:
# Finding an average (mean)
mean = ks1['age'].mean()
mean

35.77945652173913

In [13]:
# replacing nan with mean of data (updating as well)
ks1['age']= ks1['age'].replace(np.nan,mean)

In [14]:
ks1.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [15]:
ks1=kashti

In [16]:
ks1

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

# Data Formating

    1. Data ko aik common standard per lana
    2. Ensures data is consitent and understandable
        1. Easy to gather
        2. Easy to workwith
            1. Hyderabad (HYD)
            2. Karachi (KCH)
            3. Lahore (LHR)
            4. ft != cm
            5. on estandard unit in each column

In [17]:
# know the data type and convert it into the known one
kashti.dtypes

dtype('int64')

In [18]:
# use this method to convert datatype from one to another formart
kashti['survived'] = kashti['survived'].astype("int64")
kashti.dtypes

dtype('int64')

In [19]:
# here we will convert the afe into days instead of years
ks1['age'] = ks1['age']*365
ks1.head(10)

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
class       0
who         0
dtype: int64

In [20]:
# always rename afterwards
ks1.rename(column={"age": "age in days"}, inplace=True)
ks1.head()

TypeError: Series.rename() got an unexpected keyword argument 'column'

# Data Normalization
    1. Uniform the data
    2. Making user they have same impact
    3. Aok machli samundar main or aik jar main
    4. Also for computational reasons

In [ ]:
kashti.head()

survived    0
pclass      0
sex         0
age         0
sibsp       0
dtype: int64

In [ ]:
ks4 = kashti[["age",'fare']]
ks4.head()

age     0
fare    0
dtype: int64

1. The above data is really in wide range and we need to normalize and hard to compare
2. Normalization change the values to the range of 0-to-1 (now both variable has similar influence on our models)

# Method of Normalization
    1. Simple feature scaling
        1. x(new)=x(old)/x(max)
    2.Min-Max method
    3. Z-score (standard score) -3 to +3
    4. Log transformation

In [ ]:
# Simple feature scaling
ks4['fate'] = ks4['fare']/ks4['fare'].max()
ks4.head()

C:\Users\ANONYM~1\AppData\Local\Temp/ipykernel_3576/283537309.py:2: RuntimeWarning: invalid value encountered in double_scalars
  ks4['fate'] = ks4['fare']/ks4['fare'].max()

age     0.0
fare    0.0
fate    NaN
dtype: float64

In [ ]:
# Min - Max Method
ks4['fare'] = (ks4['fare']-ks4['fare'].min()) / (ks4['fare'].max-ks4['fare'].min())
ks4.head()

TypeError: unsupported operand type(s) for -: 'builtin_function_or_method' and 'float'

In [ ]:
# Z-score method (standard score)
ks4['fare'] = (ks4['fare']-ks4['fare'].mean()) / ks4['fare'].std()
ks4.head()

age     0.0
fare    NaN
fate    NaN
dtype: float64

In [ ]:
# log transformation
ks4['fare'] = np.log(ks4['fare'])
ks4.head()

age     0.0
fare    NaN
fate    NaN
dtype: float64

# Binning

    1. Grouping of values into smaller number of values (bins)
    2. Convert numeric into categories (jawan, Bachay, Boorhay) or 1-16, 17-30 etc
    3. To have better understanding of groups
        1. Low vs Mid vs High price

In [ ]:
bins = np.linspace(min(ks1['age']), max(ks1['age']), 15000)
age_groups = ["Bachay","Jawan","Boorhay"]
ks1['age'] = pd.cut(ks1['age'], bins, labels=age_groups, include_lowest=True)
ks1['age']

TypeError: 'numpy.int64' object is not iterable

In [ ]:
pd.get_dummies(kashti['sex'])
kashti

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [ ]:
# Get one hot encoding of columns 'vehicleType'
one_hot = pd.get_dummies(ks2['sex'])
# Drop column as it is now encoded
ks2 = ks2.drop('sex', axis=1)
# Join the encoded df
ks2 = ks2.join(one_hot)
ks2

NameError: name 'pd' is not defined

FileNotFoundError: titanic not found.